<div class="container-fluid"
  style="background-image: url('/assets/images/new-year-celebration.jpg');height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-sm-6">
      <div class="card bg-white" style="height: 100%;">
        <div class="card-body">

          <div class="row mb-3">
            <div class="col-12">
              <h1 class="text-center d-none d-sm-block">New Year Countdown</h1>
              <h3 class="text-center d-sm-none">New Year Countdown</h3>
            </div>
          </div>

          <div class="row no-gutters mb-3" style="height: 100px;">
            <div *ngFor="let time of countdownTimerList"
              class="col bg-dark text-white rounded d-flex justify-content-center align-items-center mx-1">
              <h1>{{time}}</h1>
            </div>
          </div>

          <div class="row no-gutters mb-3">
            <div *ngFor="let text of countdownTextList" class="col-3 text-center text-muted p-0">
              <h6>{{text}}</h6>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>